@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    font-family: "微软雅黑";
    font-size: 14px;
}

.top .infobox {
    height: 22px;
    line-height: 22px;
    background: #f7f7f7;
    border-bottom: 1px solid #ddd
}

.topfont{
    font-size: 12px;
    color: #999999;
}

.top .logo-searchbox {
    border-bottom: 1px solid #78a524;
}

.top .logo-searchbox .sbox {
    width: 960px;
    margin: 0 auto;
}

.topinfo {
    width: 960px;
    height: 27px;
    margin: 0 auto;
}

.topinfo .phonebox {
    float: left;
}

.top.topinfo .userbox .phone{
    color:#999999;
    margin-left: 50px;
}

.topinfo .userbox {
    float: right;
}

.top .logo-searchbox .sbox {
    overflow: hidden;
    zoom: 1;
}

.top .logo-searchbox .sbox .logobox {
    float: left;
}

.top .logo-searchbox .sbox .searchbox {
    position: relative;
    width: 422px;
    height: 50px;
    top: 10px;
    float: right;
    overflow: hidden;
    zoom: 1;
}

.top .logo-searchbox .searchbox .text {
    width: 260px;
    height: 40px;
    line-height: 40px;
    padding-left: 25px;
    outline: none;
    border: 2px solid #fd981a;
    float: left;
    font-size: 15px;
    border-radius: 5px;
}

.top .logo-searchbox .searchbox .button {
    width: 76px;
    height: 44px;
    border: none;
    color: #ffffff;
    font-size: 14px;
    outline: none;
    background: #fd981a;
    cursor: pointer;
    font-weight: 800;
    border-radius: 5px;
}

.top .logo-searchbox .searchbox .shopingicon{
    float:right;
    margin-left:5px;
}

.top .logo-searchbox .searchicon {
    position: absolute;
    left: 10px;
    top: 17px;
}

.top{
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: #ffffff;
    width: 100%;
}
.top .infobox .topinfo .phonebox a:not(:last-child){
    display:inline-block;
    width:36px;
    height:16px;
    text-align:center;
    line-height:16px;
    color:#ffffff;
    font-size:12px;
    text-decoration:none;
    margin-left:20px;
}
.top .infobox .topinfo .phonebox .login{
    background:#78A524;
}
.top .infobox .topinfo .phonebox .register{
    background:#fd981a;
}
.top .infobox .topinfo .phonebox .user{
    color: black;
    margin-left: 60px;
    text-decoration: underline;
}

.navbox {
    height: 37px;
    line-height: 37px;
    background: #78A524;
}

 .navbox .nav {
    width: 960px;
    margin: 0 auto;
}

.navbox .nav li {
    float: left;
    list-style-type: none;
    position: relative;
    line-height: 36px;
}

.navbox .nav li .pdbox {
    display: none;
    position: absolute;
    width: 100%;
    top: 37px;
    left: 0;
    z-index: 1;
}

.navbox .nav li .pdbox a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #4c4c4c;
    border-top: 1px solid #dff2c0;
    background: #ffffff;
}

.navbox .nav li .pdbox a:first-child {
    border-top: none;
}

.navbox .nav .nava {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    display: inline-block;
    padding: 0 30px;
    font-weight: 500;
}

 .navbox .nav .nava:hover {
    background: #FD991A;
}

.navbox .nav li:hover .pdbox {
    display: block;
}

.navbox .nav li:hover .pdbox a:hover {
    background: #FD991A;
    color: #ffffff;
}
.header .screenbox{
    margin-top: 120px;
}
.header .screenbox .screenimgbox {
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
}

.pic-show {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.pic-show .pic {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
}
.pic img{
    width: 1200px;
    height: 500px;
}



.clb {
    clear: both;
}

.abtn {
    display: inline-block;
    width: 40px;
    height: 8px;
    background: #ffffff;
    margin-left: 15px;
}
.abtn1{
    display: inline-block;
    width: 10px;
    height: 8px;
    background: #ffffff;
    margin-left: 15px;
    border-radius: 5px;
}
.abtn2{
    display: inline-block;
    width: 10px;
    height: 8px;
    background: #ffffff;
    margin-left: 15px;
    border-radius: 5px;
}
.abtn3{
    display: inline-block;
    width: 10px;
    height: 8px;
    background: #ffffff;
    margin-left: 15px;
    border-radius: 5px;
}
.pic1{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
}
.pic2{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
}
.pic3{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
}
.cur {
    background: #64a605;
}

.screenimgbox .btnbox {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    text-align: center;
    bottom: 10px;
}

.bodyer .helpbox {
    width: 960px;
    margin: 20px auto;
}

.bodyer .helpbox .helper {
    width: 960px;
    height: 77px;
    background: url('../images/index/bg1.png') no-repeat;
    position: relative;
}

#text1 {
    margin: 0px;
    height: 38px;
    width: 400px;
    position: absolute;
    top: 10px;
    left: 300px;
    resize: none;
    outline: none;
    padding: 8px;
}

.bodyer .helpbox .helper .button {
    position: absolute;
    top: 10px;
    left: 617px;
    width: 113px;
    height: 56px;
    border: none;
    background: #fd981a url('../images/index/search2.png') no-repeat;
    background-position: 11px;
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
    outline: none;
    padding-left: 20px;
}

.bodyer .productbox {
    width: 960px;
    margin: 0 auto 35px;
    overflow: hidden;
    zoom: 1;
}

.productbox ul li {
    list-style-type: none;
    width: 300px;
    float: left;
    margin-left: 25px;
    border: 1px solid #f3f3f3;
    min-height: 362px;
    position: relative;
}
.productbox ul li:first-child{
    margin-left: 0;
}

.productbox ul li img {
    width: 100%;
}

.productbox ul li .title {
    color: #1e74b2;
    font-size: 16px;
    text-align: center;
    margin: 12px 0 15px;
    font-weight: 800;
}

.productbox ul li .info {
    padding: 0 30px;
    text-align: center;
    font-size: 14px;
    color: #999;
}

.productbox ul li .btnbox {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.productbox ul li .a {
    display: block;
    float: left;
    width: 50%;
    height: 42px;
    line-height: 42px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
    border-radius: 5px;
}

.productbox ul li .a.aleft {
    background: #8eca27;
}

.productbox ul li .a.aleft1{
    background: #8eca27;
    width: 100%;
}

.productbox ul li .a.aright {
    background: #70bb1c;
}

.productbox ul li .a:hover{
    background: #FD991A;
}

.footer {
    overflow: hidden;
    zoom: 1;
    padding-top: 20px;
    border-top: 1px solid #eeeeee;
}

.footer .footbox {
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
    zoom: 1;
}

.footer .footbox ul li .titlebox {
    overflow: hidden;
    zoom: 1;
    margin-bottom: 15px;
}

.footer .footbox ul li {
    list-style-type: none;
    float: left;
    margin-left: 50px;
}

.footer .footbox ul li:first-child {
    margin-left: 10px;
}

.footer .footbox ul li .alink {
    display: block;
    text-decoration: none;
    color: #a4a4a4;
    margin-top: 5px;
}

.footer .footbox ul li .title {
    float: left;
    margin-left: 20px;
    font-size: 14px;
    margin-top: -3px;
    color: #666666;
}

.footer .footbox .icon {
    display: inline-block;
    float: left;
    width: 17px;
    height: 17px;
    background: url('../images/index/icon.png') no-repeat;
}

.footer .footbox .icon.icon1 {
    background-position: 0 0;
}

.footer .footbox .icon.icon2 {
    background-position: -17px 0;
}

.footer .footbox .icon.icon3 {
    background-position: -34px 0;
}

.footer .footbox .imgbox {
    float: right;
    padding: 0 50px;
    border-left: 1px solid #eee;
}
.footer .footbox .imgbox2{
    float: left;
    border-right: 1px solid #eee;
    width: 150px;
    height: 180px;
}

.footer .linfobox {
    background: #303030;
    margin-top:40px;
}
.footer .linfobox .linfo{
    width:960px;
    margin:0 auto;
    padding-top:30px;
    text-align:center;
}
.footer .linfobox .linfo2{
    padding-top: 10px;
    color: #7a7a7a;
    text-align: center;
    padding-bottom: 30px;
}

.footer .linfobox .linfo a {
    color: #7a7a7a;
    text-decoration: none;
    padding:0 20px;
    border-left:1px solid #7a7a7a;
}
.footer .linfobox .linfo a:first-child{
    border-left:none;
}
.nodisplay{
    display: none;
}
.pic-show1,.pic-show2,.pic-show3{
    width: 300px;
    height: 175px;
    position: relative;
}
.btnbox2{
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    text-align: center;
    bottom: 10px;
}
.fullbg {
background-color:gray;
left:0;
opacity:0.5;
position:absolute;
top:0;
z-index:1001;
filter:alpha(opacity=50);/*透明化*/
-moz-opacity:0.5;
-khtml-opacity:0.5;
}
.dialog2{
    color: #666666;
    padding: 5px 10px 10px 10px;
    background-color:#fff;
    border:0px solid rgba(0,0,0, 0.4);
    left:50%;
    margin:-250px 0 0 -175px;
    position:fixed !important;  /* 浮动对话框 */
    position:absolute;
    top:50%;
    height:500px;
    width:380px;
    z-index:1002;
    border-radius:5px; /*边框圆角化*/
    display:none;
}
.dialog2 div{
    font-size: 10px;
    color: #666666;
    margin:20px 15px 20px 15px;
    line-height: 0px;
}
.weituotext{
    overflow: auto;
    width: 351px;
    height: 150px;
    padding: 5px 5px;
}
.dialog2 p.close {
    text-align:right;
}
.dialog2 p.close a {
    color: #666666;
    text-decoration: none;
}

.text2{
    line-height: 30px;
    height: 30px;
    width: 250px;
    font-size: 14px;
    color: #666666;
    border-radius:5px; /*边框圆角化*/
    border: 1px solid #d5d5d5;
    padding-left: 5px;
    
}
.button2{
    width: 250px;
    height: 40px;
    border: none;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    outline: none;
    background: #78a524;
    cursor: pointer;
    border-radius:5px;
}
.dialog3{
    width: 300px;
    height: 250px;
    padding: 10px 10px 10px 10px;
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 1003;
    border: 1px solid gray;
    background-color: #ffffff;
    display: none;
}
.dlpf{
    font-size: 16px;
    font-weight: bold;
    color: #666666;
}
.dialog3 p.dlpf a {
    color: #666666;
    text-decoration: none;
    float: right;
}
.dline{
    margin: 5px 0;
}
.dtext{
    width: 300px;
    height: 50px;
    overflow: auto;
    padding-left: 5px;
}
.dbtn{
    height: 25px;
    font-size: 12px;
    width: 80px;
    border: none;
    background-color: #2e87e4;
    color: #ffffff;
}
.dialog4{
    height: 80px;
    width: 40px;
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 5px 5px 5px 5px;
}
.dbtn1{
    display: block;
    height: 40px;
    width: 40px;
    color: #ffffff;
    background-color: gray;
    text-decoration: none;
    text-align: center;
    margin-top: 3px;
}
.erweima{
    display: none;
    width: 200px;
    height: 200px;
    border: 2px solid gray;
    position: absolute;
    right: 100px;
    bottom: -120px;
    background-color: #ffffff;
    z-index: 100;
}
.erweima1{
    width: 80px;
    height: 75px;
    position: absolute;
    right: 10px;
}
.pos_rel{
    padding: 20px 20px 20px 35px;
    position:relative;
    line-height:0;
}
.pos_rel .icon1{
    display:block;
    border-width:9px 9px 9px 9px;
    border-color:transparent  transparent transparent gray; 
    border-style:solid;
    position:absolute;
    right:-18px;
    top:30px;
    width:0;
    height:0;
} 
.pos_rel .icon2{
    display:block;
    border-width:8px 8px 8px 8px;
    border-color:transparent transparent transparent #fff;
    border-style:solid;
    position:absolute;
    left:-12px;
    top:-8px;
    width:0;
    height:0;
}
.phcolor{
    color: #666;
}
.active{
    background-color: #fd981a !important;
}